$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;

@media only screen and (max-width:600px) {
#xirbitmarketing {
position:relative;
background-color:black;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-y:scroll;
overflow-x:hidden;
}
#xirbitmarketing::-webkit-scrollbar {
display: none;
}
#xirbitmarketing  {
-ms-overflow-style: none; 
scrollbar-width: none; 
}
//// navigation container
#xirbitmarketing-navigationheadercontainer {
position:relative;
background-color:white;
height:auto;
width:100%;
display:flex;
flex-direction:column;
align-items:flex-start;
margin-left:auto;
margin-right:auto;
padding:10px 5px;
}
.xirbitmarketing-navigationviewbutton {
position:relative;
background-color:black;
border:none;
border-radius: 10px;
height:5vh;
width:auto;
font: auto {
 family: $sub-font;
}
color:white;
margin-top:1vh;
margin-left:1vh;
padding:0px 10px;
outline-style:none;
}
.xirbitmarketing-navigationpositioningviewbutton {
position:relative;
background-color:black;
border:none;
height:70%;
height:5vh;
width:auto;
font: auto {
family: $sub-font;
}
color:white;  
outline-style:none;
}
//// view
#xirbitmarketing-viewcontainer {
position:relative;
height:auto;
width:100%;
padding:0;
}
///// marketing indication state
#xirbitmarketingloadingindicationstatemodal {
position:relative;
height:100vh;
width:100vw;
justify-content:center;
align-items:center;
}
.xirbitmarketingloadingindicationstatemodalspinner {
position:relative;
}
//// marketing navigation bar
#xirbitmarketingnavigationbar {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
padding-bottom:30px;
}
#xirbitmarketingnavigationbar-navigationcontainer {
position:relative;
height:100%;
}
#xirbitmarketingnavigationbar-marketdetailscontainer {
position:absolute;
background-color:$subbgcolor;
height:20vh;
width:90%;
bottom:15vh;
left:5%;
z-index:1;
display:none;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-closebuttoncontainer {
position:relative;
height:5vh;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-closebuttoncontainer-closebuttonheaderindication {
position:relative;
background-color:black;
border-radius:20px;
font: auto {
 family: $sub-font;
}
color:white;
outline-style:none;
right:0.5vh;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer {
position:relative;
height:10vh;
width:100%;
margin-left:auto;
margin-right:auto;
}
#xirbitmarketingnavigationbar-marketingcontentanddetailscontainer {
position:relative;
height:100%;
}
#xirbitmarketingnavigationbar-headercontainer {
position:relative;
height:40%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.xirbitmarketingnavigationbar-headercontainer-headerindication {
position:relative;
font: auto {
 family:$sub-font;
 size:40px;
 weight:900;
}
color:white;
text-align:center;
}
.xirbitmarketingnavigationbar-headercontainer-subheaderindication {
position:relative;
font: auto {
family:$sub-font;
weight:900;
}
color:white;
text-align:center;
}
#xirbitmarketingnavigationbar-navigationsnippetcontainer {
position:relative;
height:auto;
width:100%;
}
#xirbitmarketingnavigationbar-navigationsnippet-gridcontainer {
position:relative;
border:0.1vh solid white;
border-radius:20px;
height:60%;
width:95%;
margin-left:auto;
margin-right:auto;
overflow-x:hidden;
overflow-y:scroll;
padding:10px 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer {
position:absolute;
background-color: $subbgcolor;
border:0.1vh solid white;
height: 35%;
width:90%;
top:0;
left:0;
transform: translate(5%, 135%);
display:none;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-closebuttoncontainer {
position:relative;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-closebuttoncontainer-closebuttonheaderindication {
position:relative;
background-color:black;
border-radius:20px;
font: auto {
    family: $sub-font;
}
color:white;
outline-style:none;
padding:5px 30px;
right:1vh;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer {
position:relative;
height:90%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-x:hidden;
overflow-y:scroll;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer::-webkit-scrollbar {
width: 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer {
position:relative;
height:auto;    
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyheaderindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer {
position:relative;
height:auto;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistsheaderindication {
position:relative;
font: auto {
    family: $sub-font;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistsheaderindication-seeprojectsbutton {
position:relative;
background-color:black;
border-radius:20px;
height:100%;
width:auto;
font: auto {
    family: $sub-font;
}
color:white;
outline-style:none;
padding:5px 30px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer {
position:relative;
border:0.3vh dotted white;
height:auto;
width:100%;
padding:10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer-productspecification {
position:relative;
height:auto;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer-productspecification-buttonscontainer {
position:relative;
height:auto;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer-productspecification-buttonscontainer-viewbutton {
position:relative;
background-color:black;
border-radius:20px;
font: auto {
    family: $sub-font;
}
color:white;
letter-spacing:0.3vh;
padding:10px 30px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer-productspecification-buttonscontainer-graphbutton {
position:relative;
background-color:black;
border-radius:20px;
font: auto {
    family: $sub-font;
}
color:white;
letter-spacing:0.3vh;
padding:10px 30px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer {
position:absolute;
background-color:black;
border:0.1vh solid white;
border-radius:40px;
height:35%;
width:95%;
margin-left:auto;
margin-right:auto;
top:0;
left:0;
right:0;
bottom:0;
transform:translate(0%,135%);
padding:0px 20px;
z-index:99;
display:none;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer {
position:relative;
height:95%;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer {
position:relative;
height:auto;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 size:18px;
}
color:white;
text-align:center;
top:1vh;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer-bargraph {
position:relative;
border:0.2vh solid white;
border-radius:20px;
height:1vh;
width:100%;
top:-0.8vh;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer-bargraphindication {
position:relative;
background-color:white;
height:100%;
width:1%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer {
position:relative;
height:35%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-x:hidden;
overflow-y:scroll;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer::-webkit-scrollbar {
width: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer {
position:relative;
height:65%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer-aboutmaindataheaderindication {
position:relative;
font: auto {
 family:$sub-font;
 size:16px;
}
color:white;
text-align:center;
top:1.5vh;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailsclosebuttoncontainer {
position:relative;
height:5%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailsclosebuttoncontainer-closebuttonheaderindication {
position:relative;
font: auto {
    family:$sub-font;
}
color:white;
user-select:none;
top:0.5vh;
right:3vh;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer {
position:absolute;
background-color:black;
border:0.1vh solid white;
border-radius:40px;
height:35%;
width:95%;
margin-left:auto;
margin-right:auto;
top:0;
left:0;
right:0;
bottom:0;
transform:translate(0%,135%);
padding:0px 20px;
z-index:99;
display:none;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer {
position:relative;
height:95%;
width:100%;
overflow-x:hidden;
overflow-y:scroll;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer::-webkit-scrollbar {
width: 5px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectdetailscontainer {
position:relative;
background-color:red;
border:1vh dotted white;
height:auto;
width:95%;
margin-left:auto;
margin-right:auto;
margin-top:3vh;
padding:30px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectdetailscontainer-locationcontainer {
position:relative;
border:1vh dotted white;
height:auto;
width:auto;
padding:10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectdetailscontainer-headerindication {
position:relative;
font: auto {
    family: $sub-font;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectsclosebuttoncontainer {
position:relative;
height:5%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectsclosebuttoncontainer-closebuttonheaderindication {
position:relative;
font: auto {
    family:$sub-font;
}
color:white;
user-select:none;
top:0.5vh;
right:3vh;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productdetailscontainer {
position:absolute;
background-color:white;
border:0.1vh solid black;
border-radius:40px;
height:35%;
width:95%;
margin-left:auto;
margin-right:auto;
top:0;
left:0;
right:0;
bottom:0;
transform:translate(0%,135%);
z-index:99;
display:none;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productdetailscontainer-productdetailscontainer {
position:relative;
height:95%;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productdetailscontainer-closebuttoncontainer {
position:relative;
height:5%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productdetailscontainer-closebuttoncontainer-closebuttonheaderindication {
position:relative;
font: auto {
    family: $sub-font;
    weight:900;
}
color:black;
user-select:none;
top:-0.5vh;
right:3vh;
}
/* width */
#xirbitmarketingnavigationbar-navigationsnippet-gridcontainer::-webkit-scrollbar {
width: 5px;
}
#xirbitmarketingnavigationbar-navigationsnippet-gridcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-navigationsnippet-gridcontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-navigationsnippet-gridcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}  
.xirbitmarketingnavigationbar-navigationsnippet-navigationsnippetcontainer {
position:relative;
background-color:white;
border-radius:25px; 
height:30vh;
width:100%;
display:flex;
justify-content:center;
align-items:center;
margin-top:5vh;
margin-left:auto;
margin-right:auto;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationcontainer {
position:relative;
height:100%;
margin-top: auto;
margin-bottom: auto;
padding:0px;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheaderandbargraphcontainer {
position:relative;
height:100%;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheadercontainer {
position:relative;
background-color:black;
border-radius: 15px;
height:14vh;
width:90%;
display:flex;
justify-content:center;
align-items:center;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barmainheader {
position:relative;
font: auto {
 family: $sub-font;
 size:23px;
}
color:white;
letter-spacing:3px;
text-align:center;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheaderandbargraphcontainer-bargraph {
position:relative;
border:0.1vh solid  black;
border-radius:20px;
height:1vh;
width:100%;
top:-2vh;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheaderandbargraphcontainer-bargraphindication {
position:relative;
background-color:black;
border-radius:20px;
height:100%;
width:0%;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheader {
position:relative;
background-color:black;
border-radius:20px;
height:100%;
width:100%;
font: auto {
family:$main-font;
size:30px;
}
color:white;
outline-style:none;
}
//// marketing view
#marketingview {
position:relative;
height:100%;
width:100%;
padding:0;
}
#marketingview-navigationbarcontainer {
position:relative;
background-color:white;
height:6%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
padding:0px 1vh;
}
.markertingview-navigationbarcontaine-purchasingbutton {
position:relative;
background-color:black;
border-radius:10px;
height:5vh;
width:auto;
font: auto {
 family:$sub-font;
}
color:white;
}
.markertingview-navigationbarcontaine-purchasingbutton-purchasingcountheaderindication {
position:relative;
background-color:red;
border-radius:50%;
font-weight:900;
padding:2px 9px;
left:0.5vh;
}
//// marketing display container
#marketing-marketingdisplaycontainer {
position:relative;
height:94%;
width:100%;
overflow-y:scroll;
overflow-x:hidden;
padding:50px 0px;
}
#marketing-marketingdisplaycontainer::-webkit-scrollbar {
width: 7px;
}
#marketing-marketingdisplaycontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px white; 
border-radius: 10px;
}
#marketing-marketingdisplaycontainer::-webkit-scrollbar-thumb {
background: black; 
border-radius: 10px;
}
#marketing-marketingdisplaycontainer::-webkit-scrollbar-thumb:hover {
background: darken(gray,20%); 
}
//// xirbit graph container 
#xirbitmarketing-xirbitgraphmarketing {
position:relative;
border-top:0.3vh solid white;
height:auto;
width:100%;
padding:10px 0px;
}
#xirbitmarketing-xirbitgraphmarketing-graph {
position:relative;
height:100%;
width:100%;
}
#xirbitmarketing-xirbitgraphmarketing-graph-container1 { 
position:relative;
height:100%;
}
#xirbitmarketing-xirbitgraphmarketing-graph-gridcontainer {
position:relative;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barheader {
position:relative;
font: auto {
 family: $sub-font;
 size:16px;
}
color:white;
letter-spacing:3px;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barheaderabbereviation {
position:relative;
background-color:white;
border-radius:50%;
font-weight: 900;
color: black;
top:-0.1vh;
padding:10px 15px;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barheader xirbitmarketing-xirbitgraphmarketing-graph-barheaderpercentageheaderindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barandbarindicationcontainer {
position:relative;
height:auto;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin-top:4vh;
padding:10px;
}
.xirbitmarketing-xirbitgraphmarketing-graphbar {
position:relative;
background-color:black;
border:1px solid white;
border-radius:20px;
color:green;
height:0.8vh;
width:90%;
}
.xirbitmarketing-xirbitgraphmarketing-graphbarindication {
position:relative;
background-color:white;
height:100%;
width:80%;
}
#xirbitmarketing-xirbitgraphmarketing-graph-container2 { 
position:relative;
height:100%;
}
}
@media only screen and (min-width:1200px) {
#xirbitmarketing {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-y:scroll;
overflow-x:hidden;
padding:0;
}
#xirbitmarketing::-webkit-scrollbar {
display: none;
}
#xirbitmarketing  {
-ms-overflow-style: none; 
scrollbar-width: none; 
}
//// xirbit marketing header
#xirbitmarketing-navigationheadercontainer {
position:relative;
background-color:white;
border:0.1vh solid black;
height:8%;
width:100%;
display:flex;
justify-content:flex-start;
align-items:center;
margin-left:auto;
margin-right:auto;
}
.xirbitmarketing-navigationviewbutton {
position:relative;
background-color:black;
border:none;
border-radius: 10px;
height:75%;
width:20vh;
font: auto {
family: $sub-font;
}
color:white;
margin-right:1vh;
padding:0px 10px;
}
.xirbitmarketing-navifgationpositioningviewbutton {
position:relative;
background-color:black;
border:none;
height:75%;
width:20vh;
font: auto {
family: $sub-font;
}
color:white;  
padding:0px 10px;
margin-left: 0.5vh;
}
//// market view 
#xirbitmarketing-viewcontainer {
position:relative;
height:94%;
width:100%;
display:flex;
padding:50px;
overflow-x:hidden;
overflow-y:scroll;
}
#xirbitmarketing-viewcontainer::-webkit-scrollbar {
width: 10px;
}
#xirbitmarketing-viewcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
#xirbitmarketing-viewcontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
#xirbitmarketing-viewcontainer:-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
///// marketing indication state
#xirbitmarketingloadingindicationstatemodal {
position:relative;
height:94%;
width:100%;
justify-content:center;
align-items:center;
}
.xirbitmarketingloadingindicationstatemodalspinner {
position:relative;
}
//// marketing navigation bar
#xirbitmarketingnavigationbar {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
#xirbitmarketingnavigationbar-navigationcontainer {
position:absolute;
border:0.1vh solid white;
height:100%;
overflow-y:scroll;
overflow-x:hidden;
padding:50px;
}
#xirbitmarketingnavigationbar-navigationcontainer::-webkit-scrollbar {
width: 10px;
}
#xirbitmarketingnavigationbar-navigationcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-navigationcontainer::-webkit-scrollbar-thumb {
background:dodgerblue; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-navigationcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
#xirbitmarketingnavigationbar-marketdetailscontainer {
position:absolute;
background-color: $subbgcolor;
border:0.1vh solid white;
border:1vh solid red;
height: 30vh;
width:90%;
top:0;
left:0;
transform: translate(5%, 5%);
display:none;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-closebuttoncontainer {
position:relative;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-closebuttoncontainer-closebuttonheaderindication {
position:relative;
background-color:black;
border-radius:20px;
font: auto {
 family: $sub-font;
}
color:white;
outline-style:none;
padding:5px 30px;
right:1vh;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer {
position:relative;
height:90%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-x:hidden;
overflow-y:scroll;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer::-webkit-scrollbar {
width: 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer {
position:relative;
height:auto;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyheaderindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer {
position:relative;
height:auto;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistsheaderindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistsheaderindication-seeprojectsbutton {
position:relative;
background-color:black;
border-radius:20px;
height:100%;
width:auto;
font: auto {
 family: $sub-font;
}
color:white;
outline-style:none;
padding:5px 30px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer {
position:relative;
border:0.3vh dotted white;
height:auto;
width:100%;
padding:10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer-productspecification {
position:relative;
height:auto;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer-productspecification-buttonscontainer {
position:relative;
height:auto;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer-productspecification-buttonscontainer-viewbutton {
position:relative;
background-color:black;
border-radius:20px;
font: auto {
 family: $sub-font;
}
color:white;
letter-spacing:0.3vh;
padding:10px 30px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-detailsgridcontainer-colcontainer-companyproductslistscontainer-productspecificationcontainer-productspecification-buttonscontainer-graphbutton {
position:relative;
background-color:black;
border-radius:20px;
font: auto {
    family: $sub-font;
}
color:white;
letter-spacing:0.3vh;
padding:10px 30px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer {
position:absolute;
background-color:black;
border:0.1vh solid white;
border-radius:40px;
height:95%;
width:100%;
margin-left:auto;
margin-right:auto;
top:0;
left:0;
right:0;
bottom:0;
transform:translate(0%,1%);
display:none;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer {
position:relative;
height:95%;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer-bargraph {
position:relative;
border:0.2vh solid white;
border-radius:20px;
height:1vh;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer-bargraphindication {
position:relative;
background-color:white;
height:100%;
width:1%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer {
position:relative;
height:40%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-x:hidden;
overflow-y:scroll;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer::-webkit-scrollbar {
width: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-historycontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer {
position:relative;
height:60%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailscontentcontainer-gridcontainer-colcontainer-aboutmaindataheaderindication {
position:relative;
font: auto {
 family:$sub-font;
}
color:white;
text-align:center;
top:5vh;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailsclosebuttoncontainer {
position:relative;
height:5%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productgraphcontainer-graphdetailsclosebuttoncontainer-closebuttonheaderindication {
position:relative;
font: auto {
 family:$sub-font;
}
color:white;
user-select:none;
top:-0.5vh;
right:3vh;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer {
position:absolute;
background-color:black;
border:0.1vh solid white;
border-radius:40px;
height:95%;
width:100%;
margin-left:auto;
margin-right:auto;
top:0;
left:0;
right:0;
bottom:0;
transform:translate(0%,1%);
display:none;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer {
position:relative;
height:95%;
width:100%;
overflow-x:hidden;
overflow-y:scroll;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer::-webkit-scrollbar {
width: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectscontentcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectdetailscontainer {
position:relative;
background-color:red;
border:1vh dotted white;
height:auto;
width:95%;
margin-left:auto;
margin-right:auto;
margin-top:3vh;
padding:30px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectdetailscontainer-locationcontainer {
position:relative;
border:1vh dotted white;
height:auto;
width:auto;
padding:10px;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectdetailscontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectsclosebuttoncontainer {
position:relative;
height:5%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-companyprojectcontainer-projectsclosebuttoncontainer-closebuttonheaderindication {
position:relative;
font: auto {
 family:$sub-font;
}
color:white;
user-select:none;
top:-0.5vh;
right:3vh;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productdetailscontainer {
position:absolute;
background-color:white;
border:0.1vh solid black;
border-radius:40px;
height:95%;
width:100%;
margin-left:auto;
margin-right:auto;
top:0;
left:0;
right:0;
bottom:0;
transform:translate(0%,1%);
display:none;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productdetailscontainer-productdetailscontainer {
position:relative;
height:95%;
width:100%;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productdetailscontainer-closebuttoncontainer {
position:relative;
height:5%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}
.xirbitmarketingnavigationbar-marketdetailscontainer-productdetailscontainer-closebuttoncontainer-closebuttonheaderindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
color:black;
user-select:none;
top:-0.5vh;
right:3vh;
}
/* width */
#xirbitmarketingnavigationbar-marketdetailscontainer::-webkit-scrollbar {
width: 5px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px black; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer::-webkit-scrollbar-thumb {
background: white; 
border-radius: 10px;
}
#xirbitmarketingnavigationbar-marketdetailscontainer::-webkit-scrollbar-thumb:hover {
background: white; 
}
#xirbitmarketingnavigationbar-headercontainer {
position:relative;
height:20%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
}
.xirbitmarketingnavigationbar-headercontainer-headerindication {
position:relative;
font: auto {
family:$sub-font;
size:40px;
weight:900;
}
color:white;
text-align:left;
}
.xirbitmarketingnavigationbar-headercontainer-subheaderindication {
position:relative;
font: auto {
family:$sub-font;
weight:900;
}
color:white;
text-align:left;
}
#xirbitmarketingnavigationbar-navigationsnippet-gridcontainer {
position:relative;
height:75%;
margin-top:3vh;
margin-left:auto;
margin-right:auto;
}
.xirbitmarketingnavigationbar-navigationsnippet-navigationsnippetcontainer {
position:relative;
height:auto;
}
.xirbitmarketingnavigationbar-navigationsnippet {
position:relative;
background-color:white;
border:1px solid white;
border-radius:25px; 
height:auto;
width:100%;
padding:15px 0px;
overflow:hidden;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationcontainer {
position:relative;
height:auto;
display:flex;
justify-content:center;
align-items:center;
padding:5px 15px;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheadercontainer {
position:relative;
background-color:black;
border-radius: 15px;
height:80%;
width:100%;
display:flex;
justify-content:center;
align-items:center;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheaderandbargraphcontainer-bargraph {
position:relative;
border:0.1vh solid  black;
border-radius:20px;
height:1vh;
width:100%;
top:-2vh;
overflow:hidden;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheaderandbargraphcontainer-bargraphindication {
position:relative;
background-color:black;
border-radius:20px;
height:100%;
width:0%;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheaderandbargraphcontainer {
position:relative;
height:auto;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:10px 35px;
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheaderandbargraphcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
}
.xirbitmarketingnavigationbar-navigationsnippet-categoryindicationheader {
position:relative;
background-color:black;
border-radius:20px;
height:100%;
width:100%;
font: auto {
family:$main-font;
size:30px;
}
color:white;
outline-style:none;
}
//// marketing view
#marketingview {
position:relative;
height:100%;
width:100%;
padding:0px;
display:block;
overflow:hidden;
}
#marketingview-navigationbarcontainer {
position:relative;
background-color:white;
border:0.1vh solid black;
height:7%;
display:flex;
align-items:center;
}
.markertingview-navigationbarcontaine-purchasingbutton {
position:relative;
background-color:black;
border-radius:10px;
height:80%;
width:15vh;
font: auto {
family:$sub-font;
}
color:white;
margin-left:1vh;
}
.markertingview-navigationbarcontaine-purchasingbutton-purchasingcountheaderindication {
position:relative;
background-color:red;
border-radius:50%;
font-weight:900;
padding:8px 13px;
left:0.5vh;
}
#marketing-marketingdisplaycontainer {
position:relative;
border:0.1vh solid white;
height:93%;
width:100%;
padding:50px 50px;
overflow-y:scroll;
overflow-x:hidden;
}
#marketing-marketingdisplaycontainer::-webkit-scrollbar {
width: 11px;
}
#marketing-marketingdisplaycontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
#marketing-marketingdisplaycontainer::-webkit-scrollbar-thumb {
background: gray; 
border-radius: 10px;
}
#marketing-marketingdisplaycontainer::-webkit-scrollbar-thumb:hover {
background: darken(gray,20%); 
}
//// xirbit graph container 
#xirbitmarketing-xirbitgraphmarketing {
position:relative;
border-top:0.3vh solid white;
height:100vh;
width:100%;
}
#xirbitmarketing-xirbitgraphmarketing-graph {
position:relative;
height:100%;
width:100%;
}
#xirbitmarketing-xirbitgraphmarketing-graph-container1 {
position:relative;
height:100%;
width:100%;
}
#xirbitmarketing-xirbitgraphmarketing-graph-gridcontainer {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.xirbitmarketing-xirbitgraphmarketing-graph-gridcontainer-colcontainer {
position:relative;
height:100%;
}
.xirbitmarketing-xirbitgraphmarketing-graph-gridcontainer-colcontainer-gridcontainer {
position:relative;  
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barheader {
position:relative;
font: auto {
family: $sub-font;
size:16px;
}
color:white;
letter-spacing:3px;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barheaderabbereviation {
position:relative;
background-color:white;
border-radius:50%;
font-weight: 900;
color: black;
top:-0.1vh;
padding:10px 15px;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barandbarindicationcontainer {
position:relative;
height:auto;
width:100%;
margin-top:5vh;
padding:50px 30px;
}
.xirbitmarketing-xirbitgraphmarketing-graph-barmainheader {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
text-align:center;
}
.xirbitmarketing-xirbitgraphmarketing-graphbar {
position:relative;
background-color:black;
border:1px solid white;
border-radius:20px;
color:green;
height:0.7vh;
width:90%;
}
.xirbitmarketing-xirbitgraphmarketing-graphbarindication {
position:relative;
background-color:white;
height:100%;
width:80%;
}
}