$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;

@media only screen and (max-width:600px) { 
#navigationbuttons { 
position:relative;
height: 70vh;
width:100%;
margin-top:5vh;
margin-left:auto;
margin-right:auto;
padding: 50px 5px;
}
.navigationbuttons-buttonscontainer {
position: relative;
height:10vh;
}
.navigationbuttons-button {
position:relative;
background-color:black;
border:1px solid white;
border-radius: 20px;
font: auto {
 family: $sub-font;
 size:16px;
 weight: 900;
}
color:white;
outline-style:none;
padding:5px 20px;
}
}
@media only screen and (min-width:1200px) { 
#navigationbuttons { 
position:relative;
height: 70vh;
width:100%;
margin-top:20vh;
margin-left:auto;
margin-right:auto;
padding: 50px 300px;
}
.navigationbuttons-buttonscontainer {
position: relative;
height:10vh;
}
.navigationbuttons-button {
position:relative;
background-color:black;
border:1px solid white;
border-radius: 20px;
font: auto {
 family: $sub-font;
 size:18px;
 weight: 900;
}
color:white;
outline-style:none;
padding:10px 50px;
}
.navigationbuttons-buttonlink {
text-decoration: none;
}
}