$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;

@media only screen and (max-width: 600px) {
#transactions {
position:relative;
border:0.1vh solid white;
height:auto;
width:100%;
padding:0px;
}
#transactions-transactionsnavigationcontainer {
position:relative;
background-color:white;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
padding:20px 6px;
}
.transactions-transactionsnavigationcontainer-navigationbutton {
position:relative;
background-color:black;
border-radius:20px;
height:20%;
width:auto;
font: auto {
 family: $sub-font;
}
color:white;
margin-top:1vh;
padding: 3px 20px;
outline-style:none;
}
.transactions-transactionsnavigationcontainer-positioniongnavigationbutton  {
position:relative;
background-color:black;
border-radius:20px;
height:20%;
width:auto;
font: auto {
family: $sub-font;
}
color:white;
outline-style:none;
padding: 3px 20px;
}
/// trasnsactions container 
#transactions-transactionscontainer {
position:relative;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
padding:20px 0px;
}
#transactions-transactionscontainer::-webkit-scrollbar {
width:7px;
}
#transactions-transactionscontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px white; 
border-radius: 20px;
}
#transactions-transactionscontainer::-webkit-scrollbar-thumb {
background: white; 
border-radius: 10px;
}
#transactions-transactionscontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.transactions-transactionscontainer-transactions {
position:relative;
height:auto;
padding:50px 20px;
}
.transactions-transactionscontainer-transactionsgridcontainer {
position:relative;
background-color: black;
border:0.1vh solid white;
border-radius:10px;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
padding:10px 20px;
}
.transactions-transactionscontainer-transactionsgridcontainer-productindicationheadercontainer {
position:relative;
height:auto;
padding:5px 0px;
}
.transactions-transactionscontainer-transactionsgridcontainer-productindicationheader {
position:relative;
font: auto {
 family: $sub-font;
}
color:gray;
}
.transactions-transactionscontainer-transactionsgridcontainer-productimagecontainer {
position:relative;
height:auto;
display: flex;
flex-wrap: wrap;
justify-content:space-between;
padding:0;
overflow-y:scroll;
}
.transactions-transactionscontainer-transactionsgridcontainer-productimage {
position:relative;
height:10vh;
width:15vh;
margin-top:3vh;
}
.transactions-transactionscontainer-transactionsgridcontainer-somedetailscontainer {
position:relative;
height:auto;
padding:5px 0px;
}
.transactions-transactionscontainer-transactionsgridcontainer-somedetailsheaderindication {
position:relative;
font: auto {
    family: $sub-font;
}  
color:white;
}
.transactions-transactionscontainer-transactionsgridcontainer-statusheaderindication {
position:relative;
font: auto {
family: $sub-font;
}  
color:white; 
}
.transactions-transactionscontainer-transactionsgridcontainer-transactiongiveawaysnippetindication {
position:relative;
background-color:goldenrod;
border-radius:20px;
font: auto {
 family: $sub-font;
 weight:900;
}
letter-spacing:1vh;
color:black;
padding:10px 10px;
}
.transactions-transactionscontainer-transactionsgridcontainer-viewheaderindication {
position:relative;
font: auto {
    family: $sub-font;
}  
color:white;
text-align:right;
right:1vh;
}
//// transaction details
.transactions-transactionscontainer-transactiondetailscontainer {
position:absolute;
background-color:white;
border-radius:5px;
height:80vh;
width:100%;
overflow-y:scroll;  
z-index:1;
padding:10px;
display: none;
}
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer {
position:relative;
border-top:0.1vh solid green;
border-left:0.1vh solid green;
border-bottom:0.1vh solid green;
height:90%;
margin-left:auto;
margin-right:auto;
overflow-x:hidden;
overflow-y:scroll;
padding:20px 0px;
}
/* width */
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer::-webkit-scrollbar {
width: 5px;
}
/* Track */
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
/* Handle */
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
/* Handle on hover */
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.transactions-transactionscontainer-transactiondetailscontainer-transactiondetailsheaderindicationcontainer {
position:relative;
height:auto;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
}
.transactions-transactionscontainer-transactiondetailscontainer-transactiondetailsheaderindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
}
color:black;
}
.transactions-transactionscontainer-transactiondetailscontainer-displayimagescontainercontainer {
position:relative;
height:auto;
width:100%;
display:flex;
justify-content:center;
align-items:center;
margin-left:auto;
margin-right:auto;
}
.transactions-transactionscontainer-transactiondetailscontainer-displayimagescontainercontainer-maindisplayimage {
position:relative;
height:25vh;
width:70vw;
margin-top:1vh;
}
.transactions-transactionscontainer-transactiondetailscontainer-transactiondetailsclosebuttonheaderindicationcontainer {
position:relative;
height:10%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
padding:10px;
}
.transactions-transactionscontainer-transactiondetailscontainer-transactiondetailsclosebuttonheaderindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
}
color:black;
text-align:right;
user-select:none;
z-index:10;
}
}
@media only screen and (min-width: 1200px) {
#transactions {
position:relative;
border:0.1vh solid white;
height:auto;
width:100%;
padding:0px;
}
#transactions-transactionsnavigationcontainer {
position:relative;
background-color:white;
height:10%;
width:100%;
display:flex;
align-items:center;
margin-left:auto;
margin-right:auto;
padding:10px 0px 10px 15px;
}
.transactions-transactionsnavigationcontainer-navigationbutton {
position:relative;
background-color:black;
border-radius:20px;
height:60%;
width:auto;
font: auto {
 family: $sub-font;
 size:18px;
}
color:white;
margin-top:1vh;
margin-left:1vh;
padding: 0px 20px;
outline-style:none;
}
.transactions-transactionsnavigationcontainer-positioniongnavigationbutton  {
position:relative;
background-color:black;
border-radius:20px;
height:60%;
width:auto;
font: auto {
family: $sub-font;
size:18px;
}
color:white;
margin-left:1vh;
outline-style:none;
}
/// trasnsactions container 
#transactions-transactionscontainer {
position:relative;
height:90%;
width:100%;
margin-left:auto;
margin-right:auto;
padding:20px 0px;
}
#transactions-transactionscontainer::-webkit-scrollbar {
height:10px;
width:5px;
}
#transactions-transactionscontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px white; 
border-radius: 20px;
}
#transactions-transactionscontainer::-webkit-scrollbar-thumb {
background: white; 
border-radius: 10px;
}
#transactions-transactionscontainer::-webkit-scrollbar-thumb:hover {
background: white; 
}
.transactions-transactionscontainer-transactions {
position:relative;
height:auto;
display:flex;
justify-content:center;
align-items:center;
padding:50px 70px;
}
.transactions-transactionscontainer-transactionsgridcontainer {
position:relative;
background-color: black;
border:0.1vh solid white;
border-radius:30px;
height:auto;
width:100%;
padding:100px 20px;
margin-left:0.5vh;
}
.transactions-transactionscontainer-transactionsgridcontainer-productindicationheadercontainer {
position:relative;
height:auto;
padding:5px 0px;
}
.transactions-transactionscontainer-transactionsgridcontainer-productindicationheader {
position:relative;
font: auto {
 family: $sub-font;
}
color:gray;
}
.transactions-transactionscontainer-transactionsgridcontainer-productimagecontainer {
position:relative;
height:auto;
padding:10px 10px 10px 100px;
}
.transactions-transactionscontainer-transactionsgridcontainer-productimagecontainer::-webkit-scrollbar {
width: 20px;
}
.transactions-transactionscontainer-transactionsgridcontainer-productimagecontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
.transactions-transactionscontainer-transactionsgridcontainer-productimagecontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
.transactions-transactionscontainer-transactionsgridcontainer-productimagecontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.transactions-transactionscontainer-transactionsgridcontainer-productimage {
position:relative;
border:0.1vh solid white;
height:30vh;
width:100%;
margin-top:1vh;
}
.transactions-transactionscontainer-transactionsgridcontainer-somedetailscontainer {
position:relative;
height:auto;
padding:5px 0px;
}
.transactions-transactionscontainer-transactionsgridcontainer-somedetailsheaderindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}  
letter-spacing:0.5vh;
color:white;
}
.transactions-transactionscontainer-transactionsgridcontainer-statusheaderindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
}  
letter-spacing:0.5vh;
color:white; 
}
.transactions-transactionscontainer-transactionsgridcontainer-transactiongiveawaysnippetindication {
position:relative;
background-color:goldenrod;
border-radius:20px;
font: auto {
 family: $sub-font;
 weight:900;
}
height:auto;
width:60vh;
color:black;
text-align:center;
letter-spacing:1vh;
padding:10px 10px;
}
.transactions-transactionscontainer-transactionsgridcontainer-viewheaderindication {
position:relative;
font: auto {
    family: $sub-font;
}  
color:white;
text-align:right;
right:1vh;
}
//// transaction details
.transactions-transactionscontainer-transactiondetailscontainer {
position:absolute;
background-color:white;
border-radius:20px;
height:70vh;
width:50vw;
padding:30px 20px;
z-index:1;
display:none;
}
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer {
position:relative;
border-top: 0.1vh solid green;
border-left:0.1vh solid green;
border-bottom:0.1vh solid green;
height:95%;
width:auto;
margin-left:auto;
margin-right:auto;
overflow-x:hidden;
overflow-y:scroll;
padding:20px 5px;
}
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer::-webkit-scrollbar {
width: 10px;
}
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer::-webkit-scrollbar-thumb {
background: dodgerblue; 
border-radius: 10px;
}
.transactions-transactionscontainer-transactiondetailscontainer-gridcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.transactions-transactionscontainer-transactiondetailscontainer-transactiondetailsheaderindicationcontainer {
position:relative;
height:auto;
display:flex;
flex-direction:column;
justify-content:center;
}
.transactions-transactionscontainer-transactiondetailscontainer-transactiondetailsheaderindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
color:black;
}
.transactions-transactionscontainer-transactiondetailscontainer-displayimagescontainercontainer {
position:relative;
height:auto;
width:100%;
display:flex;
justify-content:center;
align-items:center;
}
.transactions-transactionscontainer-transactiondetailscontainer-displayimagescontainercontainer-maindisplayimage {
position:relative;
height:40vh;
width:40vw;
margin-top:1vh;
}
.transactions-transactionscontainer-transactiondetailscontainer-transactiondetailsclosebuttonheaderindicationcontainer {
position:relative;
height:10%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
}
.transactions-transactionscontainer-transactiondetailscontainer-transactiondetailsclosebuttonheaderindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
color:black;
text-align:right;
user-select:none;
}
}