$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;

@media only screen and (max-width:600px) {
#purchasing {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
#purchasing-gridcontainer {
position:relative;
background-color:black;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-y:scroll;
}
//// grid navigation container
#purchasing-gridcontainer-navigationcontainer {
position:relative;
height:9%;
width:100%;
display:flex;
align-items:center;
}
.purchasing-gridcontainer-navigationcontainer-navigationbutton {
position:relative;
background-color:black;
border:0.1vh solid white; 
border-radius:20px;
font: auto {
 family: $sub-font;
}
color:white;
padding:5px 20px;
}
/// grid content container 
.purchasing-gridcontainer-gridcontentcontainer {
position:relative;
height:100%;
width:100%;
padding:0;
}
/// navation container 
#purchasing-navigationcontainer {
position:absolute;
background-color:black;
border:0.1vh solid white;
border-left:none;
height:100%;
width:95%;
z-index:2;
padding:0;
transition:1s ease;
left:-95%;
}
#purchasing-navigationcontainer-contentcontainer {
position:relative;
height:95%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-y:scroll;
overflow-x:hidden;
}
#purchasing-navigationcontainer-contentcontainer::-webkit-scrollbar {
width: 5px;
}
#purchasing-navigationcontainer-contentcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px lighten(black,10%); 
border-radius: 20px;
}
#purchasing-navigationcontainer-contentcontainer::-webkit-scrollbar-thumb {
background: gray; 
border-radius: 20px;
}
#purchasing-navigationcontainer-contentcontainer::-webkit-scrollbar-thumb:hover {
background: black; 
}
#purchasing-navigationcontainer-closebuttoncontainer {
position:relative;
height:5%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
padding:10px;
} 
#purchasing-navigationcontainer-closebutton {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
top:1vh;
user-select:none;
}
/// purchasingcheckoutdetails 
#purchasingdetails-purchasingcheckoutdetailscontainer {
position:absolute;
background-color:rgba(255, 255, 255, 1);
height: 100vh;
width:100vw;
z-index:10;
}

/// purchasingcheckoutdetails 
#purchasingdetails-purchasingcheckoutdetailscontainer {
position:absolute;
height:100vh;
width:100vw;
padding:0;
z-index:99;
display:none;
} 
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer {
position:absolute;
background-color:rgba(255, 255, 255, 0.6);
height:100%;
width:100%;
padding:0;   
}
#purchasingdetails-purchasingcheckoutdetailscontainer-confirmationcontainer {
position:relative;
background-color:rgba(255, 255, 255, 0.7);
height:100%;
width:100%;
padding:0;   
display:none;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer {
position:relative;
height:90%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept {
position:absolute;
border:1.5vh dotted black;
height:95%;
width:95%;
padding:30px 15px;
transition: all 3s ease;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-headerindication {
position:relative;
font: auto {
family: $sub-font;
size:14px;
weight:900;
variant: small-caps;
}
color:blue;
letter-spacing:0.3vh;
text-decoration: underline;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer {
position:relative;
height:95%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer-colcontainer {
position:relative;
height:auto;
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer-colcontainer-headerindication {
position:relative;
font: auto {
family: $sub-font;
size:14px;
weight:900;
variant: small-caps;
}
color:blue;
letter-spacing:0.3vh;
text-decoration: underline;
margin-top: auto;
margin-bottom:auto;
top:-5vh;
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer-colcontainer-mainheaderindicationcontainer {
position:relative;
height:auto;  
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer-colcontainer-mainheaderindication {
position:relative;
font: auto {
family: $sub-font;
size:14px;
weight:900;
variant: small-caps;
}
color:blue;
letter-spacing:0.3vh;
text-decoration: underline;
margin-top: auto;
margin-bottom:auto;
top:-11vh;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-backreciept {
position:absolute;
border:1.5vh dotted black;
height:95%;
width:95%;
padding:30px;
opacity:0;
transition: all 3s ease;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-backreciept-headerindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
variant: small-caps;
}
color:blue;
letter-spacing:0.3vh;
text-decoration: underline;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-closebuttoncontainer {
position:relative;
height:10%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
padding:5px;
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-closebuttoncontainer-headerindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
variant: small-caps;
}
color:blue;
text-align:right;
right:1.5vh;
letter-spacing:0.3vh;
text-decoration: underline;
user-select:none;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-confirmationcontainer {
position:absolute;
height:100%;
width:100%;
display: flex;
flex-direction:column;
justify-content:center;
align-items:center;
font: auto {
family: $sub-font;
variant: small-caps;
};
color: blue;
text-align:center;
letter-spacing:0.2vh;
text-decoration:underline;
user-select:none;
padding:30px 80px;
display:none;
}
}
@media only screen and (min-width:1200px) {
#purchasing {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow:hidden;
}
#purchasing-gridcontainer {
position:relative;
background-color:black;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-y:scroll;
padding:20px 30px;
}
#purchasing-gridcontainer::-webkit-scrollbar {
display: none;
}
#purchasing-gridcontainer {
-ms-overflow-style: none;  
scrollbar-width: none;  
}
//// grid navigation container
#purchasing-gridcontainer-navigationcontainer {
position:relative;
height:9%;
width:100%;
display:flex;
align-items:center;
}
.purchasing-gridcontainer-navigationcontainer-navigationbutton {
position:relative;
background-color:black;
border:0.1vh solid white;
border-radius:20px;
font: auto {
 family: $sub-font;
 size:20px;
}
color:white;
padding:5px 20px;
}
/// grid content container 
.purchasing-gridcontainer-gridcontentcontainer {
position:relative;
height:100%;
width:100%;
padding:0;
}
/// navation container 
#purchasing-navigationcontainer {
position:absolute;
background-color:black;
border:0.1vh solid white;
border-left:none;
height:100%;
width:85%;
z-index:1;
padding:0;
transition:1s ease;
left:-85%;
}
#purchasing-navigationcontainer-contentcontainer {
position:relative;
height:95%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-y:scroll;
overflow-x:hidden;
}
#purchasing-navigationcontainer-contentcontainer::-webkit-scrollbar {
width: 5px;
}
#purchasing-navigationcontainer-contentcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px lighten(black,10%); 
border-radius: 20px;
}
#purchasing-navigationcontainer-contentcontainer::-webkit-scrollbar-thumb {
background: gray; 
border-radius: 20px;
}
#purchasing-navigationcontainer-contentcontainer::-webkit-scrollbar-thumb:hover {
background: black; 
}
#purchasing-navigationcontainer-closebuttoncontainer {
position:relative;
height:5%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
padding:10px;
} 
#purchasing-navigationcontainer-closebutton {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
top:1vh;
user-select:none;
}
/// purchasingcheckoutdetails 
#purchasingdetails-purchasingcheckoutdetailscontainer {
position:absolute;
height:100vh;
width:100vw;
padding:0;
z-index:99;
display:none;
} 
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer {
position:absolute;
background-color:rgba(255, 255, 255, 0.6);
height:100%;
width:100%;
padding:0;   
}
#purchasingdetails-purchasingcheckoutdetailscontainer-confirmationcontainer {
position:relative;
background-color:rgba(255, 255, 255, 0.7);
height:100%;
width:100%;
padding:0;   
display:none;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer {
position:relative;
height:90%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept {
position:absolute;
border:1.5vh dotted black;
height:95%;
width:95%;
padding:40px 30px;
transition: all 3s ease;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-headerindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
variant: small-caps;
}
color:blue;
letter-spacing:0.3vh;
text-decoration: underline;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer {
position:relative;
height:95%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer-colcontainer {
position:relative;
height:auto;
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer-colcontainer-headerindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
variant: small-caps;
}
color:blue;
letter-spacing:0.3vh;
text-decoration: underline;
margin-top: auto;
margin-bottom:auto;
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer-colcontainer-mainheaderindicationcontainer {
position:relative;
height:auto;  
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-frontreciept-detailsgridcontainer-colcontainer-mainheaderindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
variant: small-caps;
}
color:blue;
letter-spacing:0.3vh;
text-decoration: underline;
margin-top: auto;
margin-bottom:auto;
top:-10vh;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-backreciept {
position:absolute;
border:1.5vh dotted black;
height:95%;
width:95%;
padding:30px;
opacity:0;
transition: all 3s ease;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-resultscontainer-backreciept-headerindication {
position:relative;
font: auto {
family: $sub-font;
weight:900;
variant: small-caps;
}
color:blue;
letter-spacing:0.3vh;
text-decoration: underline;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-closebuttoncontainer {
position:relative;
height:10%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
padding:5px;
}
.purchasingdetails-purchasingcheckoutdetailscontainer-configurationcontainer-closebuttoncontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
 variant: small-caps;
}
color:blue;
text-align:right;
right:1.5vh;
letter-spacing:0.3vh;
text-decoration: underline;
user-select:none;
}
#purchasingdetails-purchasingcheckoutdetailscontainer-confirmationcontainer {
position:absolute;
height:100%;
width:100%;
display: flex;
flex-direction:column;
justify-content:center;
align-items:center;
font: auto {
 family: $sub-font;
 variant: small-caps;
};
color: blue;
text-align:center;
letter-spacing:0.2vh;
text-decoration:underline;
user-select:none;
display:none;
}
}